

.templatemodtager{
        display: grid;
        grid-template-columns: (3,1fr);
        grid-gap: 10px;

        }
        
.ret{
    
        }
    
h1{
   
            font-family: "raleway", sans-serif; 
}

p{
            font-family: "raleway", sans-serif;
}


.navn{
}


.billede{
            grid-row: 1;
}

.beskrivelse{

}
.pris{
   

}